/* Estilos del menú lateral */
#sidebar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: #fff;
  overflow-y: auto; /* Habilitar scroll si el contenido es largo */
  padding: 20px;
  transition: all 0.3s;
  z-index: 1000; /* Asegura que el índice esté encima del contenido */
}

#sidebar-wrapper a {
  color: #fff; /* Enlaces en blanco */
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

#sidebar-wrapper a:hover {
  background-color: #555; /* Fondo más claro al pasar el cursor */
}

#sidebar-wrapper.active {
  right: 0;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
}

.sidebar-nav-item a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.sidebar-nav-item a:hover {
  background-color: #495057;
}

.menu-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #343a40;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  z-index: 1100;
}

.menu-toggle:hover {
  background-color: #495057;
}

#readme-content {
  margin-right: 270px; /* Deja espacio para el índice a la derecha */
  padding: 20px;
}